<p id="notice"><%= notice %></p>

<p>
  <strong>Permissions:</strong>
  <%= @permission.permissions_id %>
</p>

<p>
  <strong>Permissions type:</strong>
  <%= @permission.permissions_type %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
