<p id="notice"><%= notice %></p>

<p>
  <strong>Projects:</strong>
  <%= @project.projects_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Funded amount:</strong>
  <%= @project.funded_amount %>
</p>

<p>
  <strong>Current money:</strong>
  <%= @project.current_money %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
