<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @promise.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @promise.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promise.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @promise.amount %>
</p>

<%= link_to 'Edit', edit_promise_path(@promise) %> |
<%= link_to 'Back', promises_path %>
